* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: inherit;
}
ul {
  list-style: none;
}
html{
    width: 100%;
}
body {
    width: 100%;
  min-height: 100vh;
  background-color: rgb(202, 239, 255);
}
.all-wrapper{
    width: 1600px;
    margin: 0 auto;
    background-color: #fff;
}

/* ______________________HEADER______________________ */

header {
  width: 1600px;
  height: 80px;
  font-size: 0;
  display: flex;
  align-items: center;
}

.logo-link {
  margin-left: 215px;
  vertical-align: middle;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0;
  color: #2196f3;
}
.logo-item {
  font-size: 26px;
}
.logo-item:last-child{
color: #212121;
}


.head-nav {
  width: 18%;
  margin-left: 93px;
  vertical-align: middle;
}
.page-list {
  width: 100%;
}
.page-list,
.head-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-item, .contact-item{
  transition: .3s;
}
.page-item:hover,
.contact-item:hover {
  color: #2196f3;
  cursor: pointer;
}
.current-page{
  text-decoration: underline;
}
.head-contacts {
  color: #757575;
  width: 20%;
  margin-left: 330px;
  vertical-align: middle;
}

/* ______________________TOP-BANNER______________________ */

.top-banner {
  width: 1600px;
  height: 600px;
  margin-bottom: 94px;

  background-color: #2f303a;
}
.slogan {
  display: block;
  width: 700px;
  margin: 0 auto 0 auto;
  padding-top: 200px;

  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.order {
  width: 200px;
  height: 50px;
  margin: 30px auto 0 auto;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  text-align: center;
  display: block;
  

  color: #ffffff;
}

/* ______________________MAIN______________________ */

main {
  width: 1600px;
  margin-bottom: 94px;
}
.main-wrapper {
  width: 1170px;
  margin: 0 auto;
}
.qualities-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}
.qualities-list-item {
  width: 270px;
}
.quality-name {
  margin-bottom: 10px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.quality-description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.page-heading {
  display: block;
  width: 380px;
  margin: 0 auto 50px auto;

  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.WAWD_photos-list {
  display: flex;
  justify-content: space-between;
}

/* ______________________BOTTOM-BUNNER______________________ */

.bottom-bunner {
  width: 1600px;
  height: 648px;
  font-size: 0;
  background-color: #f5f4fa;
}
.ourTeam {
  margin: 0 auto 50px auto;
  padding-top: 94px;
}
.team-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
}
.team-list-item {
  width: 270px;
  height: 368px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member-name {
  margin-top: 30px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-member-work {
  margin-top: 10px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ______________________FOOTER______________________ */

footer {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
  padding-top: 60px;
}
.footer-wrapper{
    height:135px;
    width: 235px;
    margin-left: 215px;
}
.footer-wrapper>.logo-link{
    margin-bottom: 20px;
}
.footer-wrapper>.logo-link>.logo>.logo-item:last-child{
    color: #FFFFFF;
}
.comunication-list-item{
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.comunication-list-item:first-child{
color: #FFFFFF;}






/*________________________PORTFOLIO______________________________________ */

.portfolio-header{
  border-bottom: 1px solid #ECECEC;  
}
.portfolio-main{
  width: 1600px;
}
.portfolio-main>.main-wrapper{
  margin: 94px auto;
}
.sort-projects{
  display: flex;
  width: 612px;
  margin: 0 auto 50px auto;
}
.sort-element{
  height: 38px;
  background-color: #F5F4FA;
  display: inline-block;
  
  border-radius: 4px;
  padding: 6px 22px;

  font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;

margin-right: 8px;
}
.sort-element:first-child{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196F3;
color: #fff;
}
.sort-element:last-child{
  margin-right: 0;
}

.projects-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-item{
width: 370px;
height: 404px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
margin-bottom: 30px;
}
.portfolio-img{
  width: 370px;
  height: auto;
}
.project-container{
  margin-left: 24px;
  margin-top: 20px;
}
.portfolio-name{
  font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;

color: #212121;

margin-bottom: 4px;
}
.portfolio-description{
  font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;

color: #757575;

}

.project-item:nth-of-type(6) ~ li{
  margin-bottom: 0;
}